@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://use.typekit.net/qud3duq.css");

:root{
    --fonteTextos: 'Inter', sans-serif;
    --fonteTitulos: poppins, sans-serif;

    --corNeutra1: #FFFFFF;
    --corNeutra2: #030703;

    --gray100: #E5E5E5;
    --gray200: #CCCCCC;
    --gray300: #B2B2B2;

    --spacing100: 4px;
    --spacing200: 8px;
    --spacing300: 12px;
    --spacing400: 16px;
    --spacing500: 24px;
    --spacing600: 36px;
    --spacing700: 48px;
    --spacing800: 64px;

    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:grid;
    grid-template-columns:1fr 1fr;
}

/* Painel esquerdo */

.panel-left{
    background:#d9d9d9;
    position:relative;
}

.panel-left::before,
.panel-left::after{
    content:"";
    position:absolute;
    inset:0;
}

.panel-left::before{
    background:
    linear-gradient(
        to bottom right,
        transparent calc(50% - .5px),
        #777 calc(50% - .5px),
        #777 calc(50% + .5px),
        transparent calc(50% + .5px)
    );
}

.panel-left::after{
    background:
    linear-gradient(
        to top right,
        transparent calc(50% - .5px),
        #777 calc(50% - .5px),
        #777 calc(50% + .5px),
        transparent calc(50% + .5px)
    );
}

/* Painel direito */

.panel-right{
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--corNeutra1);
}

/* Card */

.form{
    width:320px;

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:36px;
}

/* Logo */

.logo{
    width:88px;
    height:88px;

    background:#d9d9d9;
    border:1px solid #aaa;
}

/* Cabeçalho */

header{
    text-align:center;
}

.title{
    font-family:var(--fonteTitulos);
    font-size:2.25rem;
    font-weight:var(--semi-bold);
    color:var(--corNeutra2);

    margin-bottom:16px;
}

.subtitle{
    font-family:var(--fonteTextos);
    font-size:1rem;
    font-weight:var(--normal);

    color:var(--corNeutra2);

    line-height:1.5;
    text-align:center;
}

/* Rodapé */

.footer-form{
    width:100%;
}

.footer-form button{
    width:100%;
    height:32px;

    border:none;
    border-radius:12px;

    background:var(--corNeutra2);
    color:var(--corNeutra1);

    font-family:var(--fonteTextos);
    font-size:1rem;
    font-weight:var(--normal);

    cursor:pointer;

    transition:.2s;
}

.footer-form button:hover{
    opacity:.9;
}

/* Responsivo */

@media (max-width:768px){

    body{
        grid-template-columns:1fr;
    }

    .panel-left{
        display:none;
    }

    .panel-right{
        padding:24px;
    }

    .form{
        width:100%;
        max-width:320px;
    }

    .title{
        font-size:1.8rem;
    }
}